.navbar {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 9999;  
    box-shadow: 0px -2px 12px gray
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 80px; */
    max-width: 1500px;
    position: relative;
  }
  
  .nav-logo {
    color: #3366ff;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  
    display: flex;
    align-items: center;
    justify-items: center;
  }
  
  .nav-logo .icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-left: 16px;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
    margin-top: 0.5em;
  }
  
  .nav-links {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  /* .fa-code {
    margin-left: 1rem;
  } */
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #3366ff;
  }
  
  .nav-item .active {
    color: #3366ff;
    border-bottom: 3px solid #3366ff;
  }
  
  .nav-icon {
    display: none;
    color: #f5b921;
  }
  
  .nav-icon .icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
  }
  
  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #1f5156;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-logo .icon {
      width: 2rem;
      height: 2rem;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-100%, -50%);
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      color: #ffdd40;
    }
  }


  .logout-btn-wrapper {
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
  
  .logout-btn {
    background-color: white;
    color: red;
    border: 2px solid red;
    padding: 0.2em 2rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .logout-btn:hover {
    background-color: red;
    color: white;
  }
  

  .login-btn-wrapper {
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
  
  .login-btn {
    background-color: white;
    color: #3366ff;
    border: 2px solid #3366ff;
    padding: 0.2em 2rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #3366ff;
    color: white;
  }
  