.container {
    display: flex;
    height: 70vh;
    width: 100%;
  }
  
  .leftSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
    /* background-color: #f8f9fa; */
  }
  
  .header {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #1a1a1a;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #333;
    max-width: 500px;
  }
  
  .ctaButton {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    background-color: #3366ff;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 25%;
  }
  
  .ctaButton:hover {
    background-color: #254edb;
  }
  
  .rightSection {
    flex: 1;
    overflow: hidden;
  }
  
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  